span.small{color: #bababa;font-size: 50%;}

form input[type="file"] {
    height: 27px;
    line-height: 27px;
}
select.formselect{
    width: 168px;
    height: 25px;
    line-height: 25px;
}
select.formselectmultiple{
    width: 168px;
    height: 25px;
    line-height: 25px;
    height: 100px
}
input[type="text"], form input[type="password"], textarea, textarea.text, select.formselect,select.formselectmultiple{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    border: 0;
    background: #fff;
    color: #222222;
    padding: 4px;
    font-size: 12px;
    -webkit-box-shadow: inset 0 1px 1px 0px #373737;
    -moz-box-shadow: inset 0 1px 1px 0px #373737;
    box-shadow: inset 0 1px 1px 0px #373737;
}
input[type="checkbox"]{
    width: 16px;
}
input,textarea{
    width: 168px;
}

input.numeric{
    text-align: right
}
td.form_elem div span{
    font-size: 12px; 
}
div.form_multy_check{
    font-size: 80%; float: left; margin-right: 2px;}


div.form{
    display: inline-block;
    padding:  0 10px 0 0;
    color:  #323232; 
    text-align: left ; 
    vertical-align: middle; 
    float:  left;
    font-size: 12px;
}
div.forms{
    text-align: left; 
    margin: 0; 
    padding: 0;
}
div.submit_holder{
    margin-top: 13px; float: left;
}
div.form .is_cheked{
    margin:   0 5px 5px 0;padding: 0;
}
table.tbl_form td{padding: 3px; vertical-align: top }
table.tbl_form td.form_title{font-size: 12px;vertical-align: middle; color: #454545}

table.tbl_form td table{
    width: 100%;
    margin:0;
    padding: 0;
}
table.tbl_form td.form_title{
    width: 35%;
}
.page{
    padding: 2px 6px 2px 6px;
}
button,a.page, select.maxRow{
    -moz-box-shadow:inset 0px 1px 0px 0px #d5f8b3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d5f8b3;
    box-shadow:inset 0px 1px 0px 0px #d5f8b3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cbf69f), color-stop(1, #c0ee93) );
    background:-moz-linear-gradient( center top, #cbf69f 5%, #c0ee93 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbf69f', endColorstr='#c0ee93');
    background-color:#cbf69f;
    border:1px solid #7bb86c;
    text-shadow:1px 1px 0px #e7fad5;

}button:hover,a.page:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c0ee93), color-stop(1, #cbf69f) );
    background:-moz-linear-gradient( center top, #c0ee93 5%, #cbf69f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0ee93', endColorstr='#cbf69f');
    background-color:#c0ee93;
}.button:active,a.page:active {
    position:relative;
    top:1px;
}
.button_status_off {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffbfbf;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffbfbf;
    box-shadow:inset 0px 1px 0px 0px #ffbfbf;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffaeae), color-stop(1, #f99d9d) );
    background:-moz-linear-gradient( center top, #ffaeae 5%, #f99d9d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaeae', endColorstr='#f99d9d');
    border-radius:2px;
    border:1px solid #bc6161;
    text-shadow:1px 1px 0px #fcbbbb;

}
.button_status_off:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f99d9d), color-stop(1, #ffaeae) );
    background:-moz-linear-gradient( center top, #f99d9d 5%, #ffaeae 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f99d9d', endColorstr='#ffaeae');
    background-color:#f99d9d;
}.button_status_off:active {
    position:relative;
    top:1px;
}
.button_status_on span.ui-button-text,.button_status_off span.ui-button-text{
    font-size: 11px; 
    padding: 3px;
}
.ui-button-text-only .ui-button-text {
    padding: 0; 
}
#button_new_client{
    padding: 3px; margin-left: 0;
}
.page_active{
    padding: 2px 3px 2px 3px;
}
.button_ok{
    color: #ffffff;
    text-shadow:
        0px 1px 0px rgba(000,000,000,0.7),
        0px 0px 0px rgba(255,255,255,0.3); 
    background-color: #4ca614;
    background: -moz-linear-gradient(
        top,
        #4ca614 0%,
        #068a06 75%,
        #01a601);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#4ca614),
        color-stop(0.75, #068a06),
        to(#01a601));
}
.button_ok-hover{
    background: #068a06;
}

input.hasDatepicker{
    background-image: url(/images/calendar.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}
input.hasDatepicker,input.hasTimepicker,input.range-form{
    width: 98px
}
button.ico{
    border:none;
    padding: 3px 0;
    border: 1px solid #bababa;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 12px
}

.validate_tbl_form_filter{
    margin: 10px 0 10px 0;
}
.ui-combobox {
    position: relative;
    display: inline-block;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}

ul.ui-autocomplete,div.ui-datepicker{
    background-color:#f9f9f9  ;

    -webkit-box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.75);
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}


/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 200px;
}

.ui-combobox-input,.ui-autocomplete-input {
    margin: 0;
    font-size: 12px;
    background: #fff;
    border-bottom: 1px solid #CCCCCC;
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    -webkit-box-shadow: inset 0 1px 1px 0px #373737;
    -moz-box-shadow: inset 0 1px 1px 0px #373737;
    box-shadow: inset 0 1px 1px 0px #373737;    
}
div.form  .ui-combobox-input,
div.form  .ui-autocomplete-input {
    padding: 4px 5px;
}
.filter{
    margin: 5px 0 0 50px; float:  left;
}
.readonly{
    color:slategrey; background-color:  #136A9F;
}
.disabled{
    background-color: #E6E6E6;
}
.separate_but{
    margin: 0 10px;
}
#mes_error{
    text-align: center;color: red; padding: 10px;
}
.red{
    color: red; 
}
.green{
    color: green; 
}
.ui-menu-item{
    font-size: 10px
}