.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear { display: inline-block; }
img { display: block; border: 0; }

html { margin: 0; }
body { font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; }
a { text-decoration: none; color: #236792; }
a:link:after, a:visited:after { 

    /*
            content: " (http://www.bizfilings.com" attr(href) ") "; 
            font-size: 75%;
            color: #399103;
            display: block;
            margin-bottom: 15px;
    */
}
#logo a:link:after, #logo a:visited:after { 
    content: "";
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 { margin-bottom: 15px; }
p, li {
    font-size: 10pt;
    line-height: 18pt;
    color: #333;
    margin: 0 0 12px 0;
}	

ul li { list-style: disc; }
ol li { list-style: decimal; }
table {
    border-collapse: collapse;
    border: 0;
    width: 99%;
    margin: 0 auto 20px auto;
}
td, th {
    padding:8px 20px;

    text-align: left;
    font-size: 10pt;
}
th { 
    font-weight: bold;
    border: 1px solid #D2D2D2;
    color: #000;
}
td {
    color: #333;
    border: 1px solid #D2D2D2;
}
dt {
    font-weight: bold;
    font-size: 10pt;
    color: #333;
}

#container { width: 100%; }
#header { overflow: hidden; }
#logo {
    float: left;
}
.phone_chat { float: right; }
.phone_chat .tel, #phone_chat .tel { 
    color:#79B2D9;
    font-size: 12pt;
}

#main h1,
#main #landing_header h2 {
    color: #3488c6;
    font-size: 20pt;
    margin-bottom: 9px;
    font-weight: normal;
}
h2.b21 {
    color: #333;
    font-size: 20pt;
}
#main h2 {
    color: #333;
    font-size: 21pt;
    font-weight: normal;
}
#main h3 {
    color: #333;
    font-size: 13pt;
    font-weight: bold;
}
#main h4 {
    color: #333;
    font-size: 12pt;
    font-weight: bold;
}
#main h5 {
    color: #333;
    font-size: 11pt;
    font-weight: bold;
}
#main h6 {
    color: #333;
    font-size: 10pt;
    font-weight: bold;
}
#packages h3 {
    color: #3589C5;
    font-size: 20pt;
    font-weight: normal;
    margin-bottom: 5px;
}

#packages .price span,
#pricing .price span {
    color: #F36201;
    font-size: 24pt;
}

#packages .price span.value,
#pricing .price .value {
    font-weight: bold;
    vertical-align: baseline;
}
#main ul { visibility: visible !important; }

#comparison .cell { 
    float: left; 
    border-right: 2px solid #cfcfcf;
    height: auto !important;
    position: relative;
}
#comparison .category .row {
    border-bottom: 2px solid #cfcfcf;
    width: 100%;
}
#comparison .category .row .cell,
#comparison #totals .cell {
    font-size: 11pt;
    color: #000;
    width: 100px;
    padding: 8px 10px 14px 8px;
}
#comparison .cell.last,
#comparison .cell:last-child { border-right: 0; }
#comparison .headers { 
    overflow: hidden; 
    border-bottom: 2px solid #2C71A2;
}
#comparison .headers .cell {
    font-weight: bold;
    padding: 8px 10px;
    width: 100px;
    font-size: 11pt;
    color: #2C71A2;
    border-right: 0;
}
#comparison .category .row .cell .toggle_inner  {
    font-weight: bold;
    color: #333;
    font-size: 10pt;
}
#comparison .headers .cell { text-align: center; }
#comparison .headers .cell.option,
#comparison .category .row .cell.feature,
#comparison #totals .cell.featured { 
    font-weight: bold; 
    width: 160px; 
}
#comparison .cell label { 
    display: block;
    text-align: center;
}
#comparison .cell img { margin: 0 auto 12px auto; }
#comparison #totals { 
    border-top: 2px solid #2C71A2;
    margin-top: -2px;
    position: relative;
}
#comparison #totals .values {
    border-bottom: 2px solid #cfcfcf;
    overflow: hidden;
}
#comparison #totals .values .cell { 	
    text-align: center; 
    font-weight: bold;
}
#comparison #totals .cell.featured {
    text-align: right;
}
#comparison #totals .total .cell {
    font-size: 15pt;
    color: #22638D;
}
#main .toggle_content_inner p {
    font-weight: normal;
    font-size: 9pt;
}

#comparison .category .toggle {
    font-weight: bold;
    padding: 8px 10px;
    font-size: 11pt;
    color: #2C71A2;
    border-bottom: 2px solid #2C71A2;
    margin: 15px 0 0 0;
}
#comparison .heads {
    height:100px;
    overflow:hidden;
    position:relative;
    width: 490px;
    left: 181px;
}
#comparison .heads_wrap {
    height:100px;
    left:0;
    position: absolute;
    top:0;
    width:10000px;
}
#comparison .heads .head { 
    float: left; 
    width: 100px; 
    padding: 8px 10px;
}
#comparison .heads .head h2  {
    font-size: 10pt;
    color: #236792;
    font-weight: bold;
    text-align: center;
}
#comparison .category .row {
    width: 660px;
    height: auto !important;
    overflow: hidden;
    position:relative;
}
#comparison .category .row .row_wrap { width:10000px; }
#main .toggle_content_inner,
#comparison .cell .extra { 
    display: block !important;
}
#main .toggle_content_inner {

}
#comparison .cell p { font-size: 8pt; font-weight: bold; }
#comparison .cell .extra p,
#main .toggle_content_inner p {
    font-size: 8pt;
    line-height: 12pt;
    font-weight: normal;
}
#main .toggle_content_inner ul, #comparison .category .row .cell .toggle_content_inner ul,
#comparison .category .row .cell .extra ul { margin: 0 15px; padding: 0; }
#comparison .category .row .cell li,
#comparison .category .row .cell .extra li { font-weight: normal; font-size: 8pt; line-height: 12pt; color: #000; }

#main .tags ul { margin: 0; padding: 0; }
#main .tags li { list-style: none; display: inline; color: #999; font-size: 10pt; }
#main .tags li a { color: #999; }


#success_stories .story,
#main .article,
#main .program,
#main .section,
#main .tab {
    border-bottom: 3px solid #D2D2D2;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
}

.megadrop,
.secondary_drop,
.tooltip,
.overlay,
.incorporate_module,
#breadcrumbs,
#footer,
#page_tools,
#logo span,
#incorporation_options,
#sidenav,
#video_popup,
#how_it_works,
#main_nav,
#incorporate_now,
#secondary_nav,
#slideshow,
#search,
#carousel_tout,
#main ul.tabs,
#main .bodytabs .colB,
.phone_chat span.chat,
.close,
.col_touts,
.tout,
#select_state,
#incorp_options,
#product_header .utility .select, 
#pricing .select,
#comparison .header button,
#comparison #totals .values.order,
#comparison .cell label input,
a.cta,
a.more,
.button,
a.back,
#get_started_mini,
#comparison .heads .head a,
#comparison .heads .head button,
#comparison .utility,
#more_help,
.links,
#filters,
#track_order,
#top_faqs,
.sf_anchorList,
#main .ctas .group p a,
#wizard .navigation,
#wizard .column_b,
#wizard .submit,
.tabbox .tabs,
.additional_content,
#main #az_listing ol.alphabet,
a.view_webinar,
a.download_pdf,
#main .pagination 
{
    display: none !important;
}

.customerservice .col_touts,
.customerservice .col_touts #service_tout { display: block; }
.customerservice .col_touts #service_tout ul { margin: 0; padding: 0; }
#service_tout li { list-style: none; display: none; }
#service_tout li.phone { display: block; }

.slider  .step { width: 100%; }
.slider .overflow { height: auto !important; }
.slider .slides { position: static !important; }


#main .byline {
    font-size:12pt;
    margin-bottom:20px;
}
#main #az_listing h3 { 
    color: #76BCEE;
    font-size: 18pt;
    border-bottom: 2px solid #333;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
}
#main .tags  {
    font-weight: bold;
}
#main .tags ul { margin-top: 5px; }
#main .tags li { 
    font-size: 11pt;
    font-weight: normal; 
    color: #333;
}
#main .tags li:after { content: ", " }
#main .tags li:last-child:after { content: ""; }

#product_header #comparison .category .row .cell {
    padding: 8px 0 14px !important;
}
#product_header #comparison .category .row .cell .toggle_inner,
#product_header #comparison .category .row .cell .toggle_content_inner {
    padding: 0 !important;
    margin: 0 !important;
    padding-right: 20px !important;
}
#product_header #comparison .headers .cell, #product_header #comparison .row .cell, 
#product_header #comparison #totals .total .cell, #product_header #comparison #totals .values .cell {
    text-align: center;
    width: 0.75in !important;
    font-size: 10pt !important;
    padding-left: 0;
    padding-right: 0;
}
#product_header #comparison .headers .cell.option,
#product_header #comparison .category .row .cell.feature,
#product_header #comparison #totals .cell.featured { 
    font-weight: bold; 
    width: 4.5in !important;
    text-align: left;
}